.Header {
    grid-area: h;
    display: grid;
    grid-template-areas: 'api app';
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    background-color: #2B2628;
    align-items: center;
    text-align: center;
    padding: 0 30vw 0 30vw;
    font-size: 20px;

}

.API {
    grid-area: api;
    color: #FFFFFF;
    cursor: pointer;
}

.APP {
    grid-area: app;
    color: #FFFFFF;
    cursor: pointer;
}
