.DeckSorter {
    grid-area: dsp;
    display: grid;
    grid-template-areas: 'd' 'cp';
    grid-template-rows: 75vh 25vh;
    grid-template-columns: 1fr;
}

.Deck {
    grid-area: d;
    background: #888888 url('/deck-sorter-background.jpg') no-repeat;
    background-size: 100%;
}